.img-inteligencias{
   width: 100%;
}

.contenedor{
   width: 90vw !important;
}

@media (min-width: 1024px){
article.contenedor {
    max-width:80vw !important;
}

}

@media (min-width: 768px){
   article.contenedor {
       max-width:75vw !important;
   }

}

#contenedor-home2{
   margin: 20px auto;
}


.pregunta, .respuesta, .respuesta a, span{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: .7rem;
   font-weight: 700;
   color: black;
}

.pregunta{
   text-align: start;
   text-indent: 0px;
   font-weight: 900;
   font-family: Arial, Helvetica, sans-serif;
}
.respuesta a{
   font-weight: 900;
   color: blue;
}
.respuesta{
   padding: 10px 0px;
   font-size: .9rem;
}
.pregunta::before{
   font-weight: 900;
   content: '>';
   display: inline-block;
   padding-right: 10px;
}


#picture img{
   border-radius: 20px;
   margin-top: 10px;
}

.WordSection1,.MsoTable15Grid5DarkAccent6{
   width: 100%;
   overflow-x: scroll;
}
main{
   overflow-x: hidden;
}