@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@100&display=swap');

:root{
   --font1--: 'Roboto', sans-serif;
   --font2--: 'Roboto Slab', serif;
}
:root{
   --color-1: #FA51A3;
   --color-2: #3EEAF0;
   --color-3: #FCD735;
   --color-4: #6149fb;
   --color-5: #4DD92E;
}

/*

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;

*/
html{
   box-sizing: border-box;
   font-size: 14px;
   font-family: var(--font1--);
}

*,*::after,*::before{
   box-sizing: border-box;
}
*{
   padding: 0;
   margin: 0;
}



/****************** Efectos slides ****************/

main.slides{
   height: 100vh;
   width: 100%;
   overflow-y: scroll;
   overflow-x: hidden;
   scroll-snap-type: block mandatory;
   scroll-behavior: smooth !important;
}

section.slide{
   height: 100%;
   width: 100%;
   scroll-snap-align: center;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}

section.slide-home{
   height: 100%;
   width: 100%;
   scroll-snap-align: center;
}

/****************** inicio ****************/

section{
   padding-bottom: 2rem;
}
#contenedor-home{
   width: 80vw;
margin: 20px auto;
padding-top: 10px;
}

h1{
   text-transform: uppercase;
   font-size: 1.2rem;
   margin-top: 1rem;
   font-family: var(--font1--);
   text-align: center;
   font-weight: bold;
}


#picture img{

   height: 6rem;
   border-radius: 100%;
   box-shadow: 1px 4px 5px rgb(149, 149, 149);
}

/***************opciones****************/




#opcion1,div.contenedor-nav{
   background: rgb(47,220,255);
   background: linear-gradient(100deg, rgb(39, 184, 212) 0%, rgb(1, 182, 152) 100%);
}

#opcion2,#section3{
   background: rgb(111,19,223);
   background: linear-gradient(100deg, rgba(111,19,223,1) 0%, rgba(196,0,255,1) 100%);
}

#opcion3,#section4{
   background: rgb(209,24,232);
background: linear-gradient(100deg, rgba(209,24,232,1) 0%, rgba(227,22,57,1) 100%);
}

#opcion4,#section5{
   background: rgb(241,128,14);
background: linear-gradient(100deg, rgba(241,128,14,1) 0%, rgba(223,200,14,1) 100%);
}

#opcion5,#section6{
   background: rgb(25,228,72);
background: linear-gradient(100deg, rgba(25,228,72,1) 0%, rgba(13,196,179,1) 100%);
}

#opcion-reglamento,#reglamento{
   background: rgb(154,42,230);
background: linear-gradient(140deg, rgba(154,42,230,1) 0%, rgba(242,164,55,1) 100%);
}

#codigo-etica{
   background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
#modelo-educativo{
   background: rgb(239,63,251);
background: radial-gradient(circle, rgba(239,63,251,1) 0%, rgba(70,252,122,1) 100%);
}



/*barra de naveggacion*/
div.contenedor-nav{

   position: static;
   top: 0;
   width: 100%;
}
nav{
   width: 100%;
   padding: 20 auto;
   position: relative;
   font-weight: 900;

   box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.3);

}

nav ul{
   list-style: none;
   width: inherit;

   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}
nav ul li {
   transition: all .3s ease;

}
nav ul li:hover{
   background-color: var(--color-2);
   transition: all .3s ease;
}
a{
   text-decoration: none;
   color: white;
}
nav ul li{
   display: inline-flex;
   padding: 1rem .5rem;
   color: white;
   text-transform: uppercase;
   text-align: center;
   width: 150px;


   justify-content: center;
   align-items: center;
}
li{
   cursor: pointer;
}
#home nav i{
   padding-right: .5rem;
}
/* desplegar sedundo nivel*/

ul > li > ul{
   display: none;
   position: absolute;
   margin: 0;
   top: 100%;
   background-color: var(--color-4);
}

nav ul li:hover > ul{
   display: block;
}


/*************menu mobil******************/
#menu-mobil{
   padding: 10px 20px;
   color: white;
   text-transform: uppercase;
   text-align: center;
   font-size: 1.5rem;


   display: flex;
   align-items: center;
   justify-content: space-between;

   display: none;
}

#menu-mobil i{
   cursor: pointer;   
}


#desplegable{
   background-color: #5d5d5d;
   position: absolute;
   left: 100%;
   top: 3.2rem;
   width: 100%;

   display: flex;
   flex-direction: column;
   transition: left .3s ease;
}
#desplegable li{
   cursor: pointer;
   width: 100%;
}
#desplegable a{
   display: block;
   width: 100vw;
}
.show-menu{
   left: 0 !important;
   transition: left .3s ease;
}


li a{
   text-align: center;
   width: 100%;
   height: 100%;
}


@media (max-width: 768px){
 
   #menu-desktop{
      display: none;
   }

   #menu-mobil{
      display: flex;
   }

}


/***************ir arriba******************/

.gotop-container{
   display: none;
   position: absolute;
   bottom: 2.5rem;
   right: 1rem;
}

.gotop{
   cursor: pointer;
   width: 3rem;
   height: 3rem;
   border-radius: 50%;

   display: flex;
   justify-content: center;
   align-items: center;
}

.gotop i{
   font-size: 3rem;
}

a>.gotop-container{
   color: black;
   border-radius: 50%;
   box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.575);
}
.show{
   display: block;
}

/**************tarjetas*******************/

article.contenedor{
   width: 80vw;
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   -webkit-box-shadow: 12px 13px 28px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 12px 13px 28px -7px rgba(0,0,0,0.75);
box-shadow: 12px 13px 28px -7px rgba(0,0,0,0.75);

   border-radius: 10px;
}
.filtro{
   background-color: rgba(34, 34, 34, 1);
}
#tajeta1{
   background-color: #ffffff;
}

div.fondo{
   width: 100%;
   height: 10rem;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-radius: 10px 10px 0 0;
}

#section2  div.fondo{
   background-image: url(/img/yo1.jpg);
}

#section3 div.fondo{
   background-image: url(/img/meta-estudio.jpg);
}
#section4 div.fondo{
   background-image: url(/img/meta-trabajo.jpg);
}
#section5 div.fondo{
   background-image: url(/img/meta-personal.jpg);

}

@media (min-width: 768px){
   html{
      font-size: 16px;
   }

   article.contenedor{
      width: 80vw;
   }
   #contenedor-home{
      max-width: 40vw;
   }
   .gotop-container{
      bottom: 1.5rem;
      right: 1.5rem;
   }

}


@media (min-width: 1024px) {
   html{font-size: 18px;}
   
   #contenedor-home{
      max-width: 40vw;
   }
   article.contenedor{
      max-width: 30vw;
   }  
   .gotop-container{
      bottom: 2rem;
      right: 2rem;
   }
}
/*****************text tarjetas  **********************/
.info{
   width: 100%;
   padding: 25px;
}

h2{
   font-family: var(--font2--);
   text-transform: capitalize;
   padding-bottom: 15px;
   padding-top: 15px;
}
.info p{
   font-family: var(--font1--);
   font-weight: 600;
   text-align: justify;
   text-indent: 1rem;
   font-size: 1rem;

}



#section6 h2{
text-align: center;
padding-bottom: 50px;

}

/******************contacto********************/
ul.redes{
   width: 100%;
   list-style: none;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
gap: 15px;
   padding-bottom: 40px;
}
ul.redes li a{
   font-size: 2.3rem;
   display: inline-block;
   color: black;
}

.copy{
   width: 100%;
   color: #ffffff;
   text-align: center;
   padding: 10px;
   background-color: rgb(42, 42, 42);
   border-radius: 0 0 10px 10px;
}


/********modelo educativo**********/
#modelo-educativo img, #codigo-etica img{
   width: 100%;
   max-width: 100%;
   border-radius: 0 0 10px 10px;
}



/******************reglamento escolar***************/

#reglamento article{
   max-width: 80vw;
}




.hidden-metas{
   height: 0;
   display: none;
}
.show-metas{
   height: auto;
   display: block;
}
